@import url(https://fonts.googleapis.com/css2?family=Lato:wght@100&family=Montserrat:wght@100&family=Roboto:wght@400;

700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 10px;
  font-family: "Roboto", sans-serif;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.additional-sites {
  background-color: #0282f9;
  padding: 10px;
  width: 100%;
  text-transform: uppercase;
  display: flex;
  justify-content: end;
}

.additional-sites div {
  margin-right: 50px;
  width: 20%;
  display: flex;
  justify-content: space-between;
}

.additional-sites div a {
  text-decoration: none;
  color: white;
}

.nav_container {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav_container nav {
  width: 70%;
}

.nav-bar {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
}

.nav-bar li {
  text-align: center;
  width: 115px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: bold;
  height: 100%;
  line-height: 125px;
}

.nav-bar li:hover {
  border-bottom: 5px solid #0282f9;
  color: #0282f9;
}

.nav-bar li a {
  text-decoration: none;
  color: #000;
}

.search-bar input {
  padding: 5px;
}

.jumbotron {
  width: 100%;
  height: 430px;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  background-color: #1c1c1c;
  position: relative;
}

.container-main {
  width: 70%;
  color: white;
}

.container-main .products {
  margin-top: 40px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.container-main .products .card {
  width: 15%;
  margin: 10px;
}

.container-main .products .card .img-card {
  height: 200px;
  overflow: hidden;
}

.container-main .products .card .name {
  margin-top: 10px;
}

.current {
  text-transform: uppercase;
  font-size: 18px;
  position: absolute;
  top: -20px;
  text-align: center;
  width: 190px;
  background-color: #0282f9;
  padding: 10px;
}

.position-load {
  margin: 20px 0;
  display: flex;
  justify-content: center;
}

.load {
  text-transform: uppercase;
  font-size: 18px;
  text-align: center;
  width: 150px;
  background-color: #0282f9;
  padding: 10px;
}

footer {
  position: relative;
  height: 600px;
}

.container-merch {
  background-color: #0282f9;
  margin: 0 auto;
  width: 100%;
  padding: 30px;
  display: flex;
  justify-content: center;
}

.merch {
  width: 90%;
  display: flex;
  justify-content: space-around;
}

.merch div {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.merch div a {
  margin-left: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 15px;
}

.merch div a:hover {
  text-decoration: underline;
}

.merch div img {
  height: 40px;
}

.foot-mid {
  overflow: hidden;
  height: 400px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.foot-mid .foot-links {
  display: flex;
  justify-content: space-between;
  width: 35%;
  margin-left: 45px;
}

.foot-mid .foot-links .dc-comics,
.foot-mid .foot-links .dc-shop,
.foot-mid .foot-links .dc,
.foot-mid .foot-links .sites {
  display: flex;
  flex-direction: column;
  font-weight: bold;
  font-size: 18px;
  margin-top: 5px;
}

.foot-mid .foot-links .dc-comics a,
.foot-mid .foot-links .dc-shop a,
.foot-mid .foot-links .dc a,
.foot-mid .foot-links .sites a {
  text-decoration: none;
  margin: 3px 0;
  color: grey;
  font-weight: lighter;
  font-size: 13px;
}

.foot-mid .foot-links .dc-comics a:hover,
.foot-mid .foot-links .dc-shop a:hover,
.foot-mid .foot-links .dc a:hover,
.foot-mid .foot-links .sites a:hover {
  text-decoration: underline;
}

.rt-reserved {
  position: absolute;
  left: 200px;
  bottom: 125px;
  color: grey;
  font-size: 13px;
  display: flex;
  justify-content: start;
  align-self: end;
  width: 33%;
}

.foot-bottom {
  padding: 0 200px;
  height: 100px;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.foot-bottom .socials {
  width: 25%;
  font-weight: bold;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.foot-bottom .sign-up {
  color: #fff;
  padding: 10px;
  width: 140px;
  text-transform: uppercase;
  border: 2px solid #0282f9;
}

